@model BlogEngine.ViewModels.Blog.IndexViewModel
<div class="card">
    <div class="card-header">
        <div class="card-title">
            @Model.Blog.BlogName
        </div>
        <div class="text-info">
            @Model.Blog.Description
        </div>
        <div class="text-info">
            Author: @Model.AuthorName
        </div>
    </div>
    <div class="card-body">
        <div class="text-dark h4">Posts:</div>
        @if (Model.Editable)
        {
            <a class="btn btn-success btn-sm"
                    asp-controller="Post"
                    asp-action="Create"
                    asp-route-owningBlogId="@Model.Blog.BlogId">
                Add new post
            </a>
        }
        <div class="list-group">
            @foreach (var post in Model.Blog.Posts)
            {
                <div class="list-group-item">
                    <div class="offcanvas-title">
                        @post.Title
                        @if (Model.Editable)
                        {
                            <form method="post" asp-controller="Post" asp-action="Remove" asp-route-_blogId="@Model.Blog.BlogId" asp-route-postId="@post.PostId">
                                <input type="submit" class="link-danger" value="Remove">
                            </form>
                        }
                    </div>
                    <div class="text-dark">
                        @post.PostText.Substring(0, 50)...
                    </div>
                    <a asp-controller="Post" asp-action="Index" asp-route-postId="@post.PostId" class="link-primary">Go to post...</a>
                </div>
            }
        </div>
    </div>
</div>